<div class="auth-container">
    <h2>Redefinir Senha</h2>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <label for="password">Nova senha</label>
      <input id="password" type="password" formControlName="password" required />
  
      <label for="confirmPassword">Confirme a senha</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" required />
  
      <button type="submit" [disabled]="form.invalid">Redefinir senha</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
  </div>