<div class="cart container">
    <h2>Meu Carrinho</h2>
  
    <div class="cart-items">
      <div *ngFor="let item of cart.items" class="cart-item">
        <img [src]="item.product.imageUrl" />
        <div>
          <strong>{{ item.product.name }}</strong><br />
        </div>
        <div class="quantity-control">
          <button (click)="decreaseQty(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQty(item)">+</button>
        </div>
        <span class="price">R$ {{ item.subtotal | number:'1.2-2' }}</span>
        <button (click)="removeItem(item)" class="remove">🗑</button>
      </div>
    </div>
  
    <div class="cart-summary">
      <h4>Total: R$ {{ cart.total | number:'1.2-2' }}</h4>
      <button class="btn primary" (click)="goToCheckout()">🛍️ Finalizar Compra</button>
    </div>
  </div>